In [2]:
from vnstock import Vnstock

stock = Vnstock().stock(symbol = "ACB")
stock.quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

                          time  price  volume match_type         id
0    2025-05-21 09:15:00+07:00  25.75     300        Buy  299544698
1    2025-05-21 09:15:00+07:00  25.75     200        Buy  299544798
2    2025-05-21 09:15:00+07:00  25.75     300        Buy  299544799
3    2025-05-21 09:15:00+07:00  25.75     500        Buy  299544800
4    2025-05-21 09:15:00+07:00  25.75     200        Buy  299544801
...                        ...    ...     ...        ...        ...
5462 2025-05-21 14:45:00+07:00  25.65     100       Sell  300112801
5463 2025-05-21 14:45:00+07:00  25.65     400       Sell  300112802
5464 2025-05-21 14:45:00+07:00  25.65     500       Sell  300112803
5465 2025-05-21 14:45:00+07:00  25.65    1000       Sell  300112796
5466 2025-05-21 14:45:00+07:00  25.65    5000       Sell  300112904

[5467 rows x 5 columns]