In [3]:
from vnstock import Vnstock
import time
from datetime import datetime, timedelta
from vnstock import Listing, Quote 

end_date = datetime.now()
# start_date = end_date - timedelta(days=420)

end_date_str = end_date.strftime('%Y-%m-%d')
# start_date_str = start_date.strftime('%Y-%m-%d')
stock = Vnstock().stock(symbol='ACB', source='VCI')
df =stock.quote.history(start = '2000-01-01', end= end_date_str, interval='1D')
df

           time   open   high    low  close    volume
0    2006-11-21   4.62   5.78   4.58   5.20     56500
1    2006-11-22   5.52   5.52   5.01   5.20     62300
2    2006-11-23   5.58   5.58   5.01   5.51     69900
3    2006-11-24   5.39   5.85   5.39   5.78     63600
4    2006-11-27   5.65   6.22   5.20   5.47     42400
...         ...    ...    ...    ...    ...       ...
4602 2025-05-16  25.70  25.70  25.45  25.45  10697100
4603 2025-05-19  25.45  25.70  25.30  25.40  13916200
4604 2025-05-20  25.50  25.65  25.40  25.60  11025800
4605 2025-05-21  25.75  25.90  25.60  25.65  12362200
4606 2025-05-22  25.70  25.75  25.50  25.55  18033200

[4607 rows x 6 columns]

                          0       1       2      3
listing symbol          VCB     ACB     TCB    BID
        ceiling       61000   27400   33050  38700
        floor         53200   23900   28750  33700
        ref_price     57100   25650   30900  36200
        stock_type    STOCK   STOCK   STOCK  STOCK
...                     ...     ...     ...    ...
bid_ask ask_1_volume  21800  124100  119300  77800
        ask_2_price   57100   25650   30600  36100
        ask_2_volume  59500  477600  375600  13400
        ask_3_price   57200   25700   30650  36150
        ask_3_volume  93900  459600   35600  25600

[61 rows x 4 columns]